body {
	margin: 0; padding: 0;
	color: #333;
	font-size: 16px; font-family: 'Arial';
}

* {
	box-sizing: border-box;
}

div {
	display: flex;
	flex-direction: column;
}

input[type=text],input[type=password],textarea,select {
	padding: 8px 10px;
	border: 1px solid #999; border-radius: 3px;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus,select:focus {
	outline: 0;
}
button.submit {
	width: fit-content;
	padding: 7px 25px;
	border: 0; border-radius: 3px;
	background: #d0000f; color: #fff;
	font-size: 16px;
	cursor: pointer;
}
button.submit:hover,button.submit:focus {
	background: #bb000e;
	outline: 0;
}
button.reject {
	width: fit-content;
	padding: 5px 10px;
	border: 0;
	background: transparent; color: #555;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}
button.reject:hover {
	color: #111;
}
button.reject:focus {
	outline: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 100vh; width: 100%;
	background: #fff;
	overflow: hidden;
}

.top,.bottom {
	width: 100%;
	z-index: 1;
}
.top .line,.bottom .line {
	flex-direction: row;
	height: 100px; width: 100%;
}
.top .left,.bottom .right {
	width: 20%;
	background: #383637;
}
.top .right,.bottom .left {
	width: 100%;
	background: #1c1c1c;
}
.top .center,.bottom .center {
	border: 50px solid;
}
.top .center {
	border-color: #1c1c1c #1c1c1c #383637 #383637;
}
.bottom .center {
	border-color: #1c1c1c #383637 #383637 #1c1c1c;
}
.bottom .dark {
	height: 25px;
	background: #1c1c1c;
}

.content {
	flex: 1;
	height: 100%; width: 100%;
	background: #fff;
}

.content .menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	min-height: 40px; width: 100%;
	background: #383637; color: #fff;
	font-size: 18px;
	z-index: 1;
}
.content .menu span {
	display: flex;
	padding: 7px 30px 5px;
	border-bottom: 7px solid transparent;
	text-align: center;
}
.content .menu span.selected,.menu span:hover {
	border-bottom-color: #d0000f;
	cursor: pointer;
}

.component {
	flex: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: -1px auto;
	background: #fff;
	z-index: 0;
}

/* ВСПЛЫВАЮЩАЯ ОШИБКА */
#slide_errors_block,#slide_settings_block {
	display: none;
	position: fixed; top: 0px; left: 0px;
	min-width: 180px; max-width: 300px;
	margin: 0px; padding: 7px;
	font-size: 12px;
	z-index: 4;
}
#slide_errors_block {
	background: #f88; color: #111;
}
#slide_settings_block {
	background: #8af; color: #fff;
}
#slide_errors_block h5,#slide_settings_block h5 {
	margin: 0px 5px;
	font-size: 18px; font-weight: normal;
	text-align: center;
}
#slide_errors_block p,#slide_settings_block p {
	margin: 5px;
	font-size: 12px;
}
