body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.app {
	text-align: center;
}
.app .app_logo {
	height: 80px;
	animation: app-logo-spin infinite 20s linear;
}
.app .app_header {
	/* height: 150px; */
	padding: 20px;
	background: #222; color: #fff;
	text-align: center;
}
.app .app_title {
	font-size: 24px;
	text-align: center;
	
}
.app .content {
	box-sizing: border-box;
	width: 50%;
	margin: 0px auto; padding: 15px 30px;
	border: 1px solid #bbb; border-top: 0;
}
.app .content p {
	margin: 10px 0px;
	font-size: 14px;
	text-align: left;
}
.app .content a {
	/* #51d3fa rgb(81,211,250) */
	color: rgb(65,169,200);
	/* text-shadow: 0px 0px 2px ; */
}
.app .content a:hover {
	color: rgb(81,211,250);
}
@media (max-width: 1024px) {
	.app .content {
		width: 70%;
	}
}
@media (max-width: 768px) {
	.app .content {
		width: 80%;
	}
}
@media (max-width: 414px) {
	.app .content {
		width: 100%;
		padding: 10px 22px;
		border: 0;
	}
	.app .content p {
		text-align: justify;
	}
}

@keyframes app-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.list li {
	display: inline;
	margin-right: 5px;
	padding: 3px;
	border: 2px solid #fff;
	background-color: orange;
}
/*ENTER*/
.wall {
			background: #0089FF;
		}
		.first {
			text-align: center;
			margin-top: 5%;
		}
		.button {
			text-align: center;
			margin-top: 1%;
			
		}
		.first input {
			text-align: center;
			margin-bottom: 3%;
		}
		.inputs {
			width: 200;
			height: 30;
			border: 1px solid #000;
		}
		.button input {
			font-family: Arial;
			font-size: 15px;
			color: #FFFFFF;
			text-shadow: 
				-0   -1px 0   #000000,
				 0   -1px 0   #000000,
				-0    1px 0   #000000,
				 0    1px 0   #000000,
				-1px -0   0   #000000,
				 1px -0   0   #000000,
				-1px  0   0   #000000,
				 1px  0   0   #000000,
				-1px -1px 0   #000000,
				 1px -1px 0   #000000,
				-1px  1px 0   #000000,
				 1px  1px 0   #000000,
				-1px -1px 0   #000000,
				 1px -1px 0   #000000,
				-1px  1px 0   #000000,
				 1px  1px 0   #000000;
			
		}
	.head {
		text-align: center;
		color: #fff;
		margin-top: 2%;
		font-family: Arial;
		font-size: 38px;
		color: #FFFFFF;
		text-shadow: 
			-0   -1px 0   #000000,
			 0   -1px 0   #000000,
			-0    1px 0   #000000,
			 0    1px 0   #000000,
			-1px -0   0   #000000,
			 1px -0   0   #000000,
			-1px  0   0   #000000,
			 1px  0   0   #000000,
			-1px -1px 0   #000000,
			 1px -1px 0   #000000,
			-1px  1px 0   #000000,
			 1px  1px 0   #000000,
			-1px -1px 0   #000000,
			 1px -1px 0   #000000,
			-1px  1px 0   #000000,
			 1px  1px 0   #000000;
	}
/*Value*/
.wall {
			background: #0089FF;
		}
		.field {
		width: 80%;
		height: 5%;
		background: #ff0;
		
	}
	.field td {
		color: #fff;
		font-family: Arial;
		
		color: #FFFFFF;
		text-shadow: 
			-0   -1px 0   #000000,
			 0   -1px 0   #000000,
			-0    1px 0   #000000,
			 0    1px 0   #000000,
			-1px -0   0   #000000,
			 1px -0   0   #000000,
			-1px  0   0   #000000,
			 1px  0   0   #000000,
			-1px -1px 0   #000000,
			 1px -1px 0   #000000,
			-1px  1px 0   #000000,
			 1px  1px 0   #000000,
			-1px -1px 0   #000000,
			 1px -1px 0   #000000,
			-1px  1px 0   #000000,
			 1px  1px 0   #000000;
	margin-top: 1%;
	}
	.boxLeft {
		float:left;
	}
	.boxRight {
		float:right;
	}
	.Line {
		margin: 2%;
	}